@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-bg-color: #1b202b;
  --navbar-bg-color: #293040;
  --main-font-color: #f8f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--main-bg-color);
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--main-font-color);
}

section {
  min-height: 100vh;
}

p {
  font-family: "Manrope", sans-serif;
  opacity: 38%;
}

a {
  font-family: "Manrope", sans-serif;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #f8f8ff;
}

a:hover {
  text-decoration: underline;
  color: #4f5d80;
}

button {
  font-family: "Manrope", sans-serif !important;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--navbar-bg-color);
  border-radius: 16px;
  width: 36rem;
  height: 2.5rem;
  margin: 1.2rem 0rem 4rem 0rem;
  font-size: 0.85rem;
}

.linha-separadora {
  width: 80vw;
  border-left: 1px solid #f8f8ff;
}

#introducao {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#introducao .imagem-perfil {
  min-width: 45%;
}

.div_introducao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 40rem;
  margin-left: 160px;
}

.div_introducao h1 {
  text-align: left;
}

.div_introducao p {
  text-align: left;
}

.intro-butotn-link {
  display: flex;
  justify-content: space-between;
}

.intro-butotn-link div {
  width: 6em;
  display: flex;
  justify-content: space-between;
}

.botao-cv {
  background-color: #f8f8ff;
  min-width: 9em;
  min-height: 3em;
}

.titulo-section {
  margin: 2em 0em 0.3em 0em;
  font-size: 6em;
}

#habilidades {
  padding: 80px;
}

.minhas-habilidades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.minhas-habilidades div {
  border: 1px solid black;
  min-height: 16rem;
  max-height: 20rem;
  min-width: 26rem;
  border-radius: 16px;
  padding: 10px;
}

.habilidades-itens-js {
  background-color: #f9e129;
}

.habilidades-itens-ts {
  background-color: #0477bf;
}

.habilidades-itens-rjs {
  background-color: #336ea1;
}

.habilidades-itens-hmtl {
  background-color: #dd5827;
}

.habilidades-itens-scss {
  background-color: #ca6698;
}

.habilidades-itens-node {
  background-color: #5e971c;
}

.habilidades-itens-oracle {
  background-color: #570b11;
}

.habilidades-itens-mongodb {
  background-color: #011c26;
}

.habilidades-itens-git {
  background-color: #94311f;
}

#habilidades img {
  max-width: 6em;
  max-height: 6em;
}

.projetos-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 3em;
  padding: 20px;
}

.projetos-items div {
  border: 1px solid black;
  min-height: 16rem;
  max-height: 20rem;
  min-width: 26rem;
  border-radius: 16px;
  padding: 10px;
}

#projetos-items-iptracker {
  background-image: url("./assets/images/iptracker-print.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#projetos-items-secretword {
  background-image: url("./assets/images/secretword-print.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projetos-items img {
  max-width: 30em;
  min-width: 30em;
  min-height: 20em;
  max-height: 20em;
}

.form-label,
.form-control {
  color: var(--main-font-color) !important;
  font-family: "Manrope", sans-serif;
}

#contato {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#contato .contato-titulo {
  min-height: 80vh;
}

#contato .contato-titulo .titulo-section {
  margin: 0;
}

#contato .link-das-redes-sociais {
  display: flex;
  align-items: center;
  gap: 1.7em;
  max-width: 30%;
}

#contato .form-div {
  min-height: 80vh;
}
#contato .form-div form {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 80vh;
}

#contato .form-div .form-outline,
#contato .form-div .form-outline .form-control {
  min-height: 10vh;
  min-width: 20vw;
}

footer {
  min-height: 2em;
  min-width: 99vw;
  background-color: var(--navbar-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 8em;
}
